html {box-sizing: border-box}
*, *:before, *:after {box-sizing: inherit}

html, body{margin: 0; padding: 0}
.leaflet-label-pane{pointer-events: none;}
#map{width: 757px; height: 478px}
input[type='number']{width: 50px}
input[type='range']{width: 150px}
span{color:darkgray}
label, input, span{vertical-align: middle}
body .leaflet-div-icon{border: 0; background: none; margin: 0 !important}
body .leaflet-div-icon:before{position: relative; display: block; content: " "; left: -15px; top: 0px; height: 1px; width: 31px; background: red}
body .leaflet-div-icon:after{position: relative; display: block; content: " "; left: 0px; top: -16px; width: 1px; height: 31px; background: red}

.export .leaflet-control-container{display: none !important}
.export #map{pointer-events: none}